* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  width: 200px;
  height: 60px;
  overflow: hidden; /* Oculta los elementos que se salgan del contenedor*/
  margin: 20px 0 0 50px;
}

.logo img {
  width: 100%; /* La imagen ocupará el 100% del ancho del enlace */
  height: auto;  
}

.menu {
  display:inline-flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  font-family: "Orbitron", sans-serif;
}

ol {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 0.5em 0;
  list-style: none;
}

.menu-item {
  background: #606c38;
  padding: 1em 0.5em;
  position: relative;
  border-bottom: 5px solid #dda15e;
  margin: 1em 0.25em;
  cursor: pointer;
  min-width: 8em;
  text-align: center;
}

.menu-item[aria-haspopup=true] {
  border-bottom-color: #283618;
}

.menu-item:hover,
.menu-item:focus-within {
  border-bottom-color: #bc6c25;
  background: #283618;
}

.menu-item:hover .sub-menu,
.menu-item:hover .sub-menu:hover,
.menu-item:focus-within .sub-menu,
.menu-item:focus-within .sub-menu:hover {
  visibility: visible;
  opacity: 1;
  display: flex;
}

.sub-menu {
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  left: 0;
  margin-top: 1em;
  visibility: hidden;
  display: none;
  opacity: 0;
}

.sub-menu .menu-item {
  margin: 0.1em 0;
  padding: 1em;
  width: 10em;
  text-align: center;
  z-index: 2;
}

a {
  color: #fefae0;
  text-decoration: none;
  text-transform: uppercase;
}

a:focus {
  outline: none;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* define a fixed width for the entire menu */
.navigation {
  width: 300px;
}

/* reset our lists to remove bullet points and padding */
.mainmenu,
.submenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mainmenu {
  margin: 50px 0 0 20px;
}

/* make ALL links (main and submenu) have padding and background color */
.mainmenu a {
  display: block;
  background-color: #1d3557;
  text-decoration: none;
  padding: 10px;
  color: #f1faee;
}

/* add hover behaviour */
.mainmenu a:hover {
  background-color: #457b9d;
}


/* when hovering over a .mainmenu item,
  display the submenu inside it.
  we're changing the submenu's max-height from 0 to 200px;
*/

.mainmenu li:hover .submenu {
  display: block;
  max-height: 200px;
}

/*
  we now overwrite the background-color for .submenu links only.
  CSS reads down the page, so code at the bottom will overwrite the code at the top.
*/

.submenu a {
  background-color: #f1faee;
  color: #1d3557;
}

/* hover behaviour for links inside .submenu */
.submenu a:hover {
  background-color: #d24753;
  opacity: 0.75;
}

/* this is the initial state of all submenus.
  we set it to max-height: 0, and hide the overflowed content.
*/
.submenu {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}