div.fotos {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1600px;
    width: 100%;
    margin: auto; 
}

.contenedor figure {
    margin: 0;
    padding: 10px; 
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px; 
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.contenedor img {
    width: 200px; 
    height: 200px;
    object-fit: cover; 
}

.contenedor figcaption {
    padding: 5px; 
    text-align: center;
}

