@font-face {
  font-family: "ZaiCovid";
  src: url("zai_i_love_covid_19/zai_I♥Covid-19.ttf") format("truetype");
}
body {
  background-color: #0c0c0c;
}
h1 {
  font-family: "ZaiCovid";
  letter-spacing: 4px;
  color: #b10000;
}
h2{
  font-family: 'Creepster', cursive; ;
}
p{
  font-family: 'Lora', serif;

}

/* Navegación Inicio */
.navigation {
  background-color: #000;
  width: 100%;
  height: 130px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-image: url("fotos/tw-30730.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.navigation img {
  display: none;
}
.navigation ul {
  list-style: none;
  display: flex;
  padding: 0;
  font-size: 20px;
  margin-left: 637px;
}
.navigation li {
  position: relative;
  color: white;
  padding: 20px;
}
.navigation a {
  display: block;
  padding: 15px;
  color: white;
  text-decoration: none;
  transition: #b10000 0.3s ease;
}
.navigation a:hover {
  transform: scale(1.2);
  color: #b10000;
  font-family: "ZaiCovid";
}
/* Navegación fin */

/* Main Inicio */
.parte1 {
  background-color: white;
  width: 800px;
  height: 400px;
  background-image: url(fotos/Historias\ paranormales\ en\ el\ Hospital\ de\ Agramonte\ en\ España\ \ Visita\ de\ Doctor.mp4);
  margin: auto;
  border-radius: 8px;
  margin-top: 40px;
}
.excursion {
  width: 800px;
  align-items: center;
  margin: auto;
  border-radius: 8px;
}
.excursion p,
li {
  text-align: justify;
  color: white;
}
.excursion h2 {
  text-align: center;
  color: #b10000;
}
.parte2 {
  width: 800px;
  margin: auto;
  margin-top: 140px;
  color: white;
  text-align: center;
}
.precios {
  background-color: #f8f8f8;
  color: black;
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  
}
.precios:hover {
  transform: translateY(-3px);
  background-color: #e0e0e0;
}
.precio1 {
  width: 800px;
  align-items: center;
  margin: auto;
  border-radius: 8px;
}
.precio1 h2{
  color: #b10000;
  text-align: center;
}
details {
  margin-bottom: 20px;
  
}
details summary {
  list-style: none;
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><rect x="14" y="2" width="4" height="20" fill="red"/><rect x="10" y="14" width="12" height="4" fill="red"/></svg>'),
    auto;
}
details p {
  color: black; 
}

/* Galería inicio */
.galeria {
  margin: auto;
  margin-top: 20px; 
  max-width: 1000px; 
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; 
}
.galeria h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px; 
  width: 100%; 
  color: #b10000;
}

.galeria img {
  height: 200px; 
  width: 300px; 
  margin: 10px; 
  object-fit: cover; 
}

/* Galería fin */
footer {
  margin: 20px auto;
  max-width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  border-top: 2px solid rgb(208, 208, 208);
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-container2 a {
  color: #ffff00;
}
.footer-container2 a:hover {
  text-decoration: underline;
}
/*Formulario inicio*/
.reserva {
  background-color: white;
  width: 800px;
  height: 400px;
  margin: auto;
  border-radius: 8px;
  margin-top: 40px;
  text-align: center;
}

.form-group {
  margin-bottom: 1rem;
}

input {
  padding: 0.5rem;
  width: 80%;
  max-width: 300px;
}

button {
  padding: 0.5rem 1rem;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #444;
}

/*Formulario fin*/