body {
  background-color: #e7e7e7;
  margin: 0;
  padding: 0;
}

.imagen-header {
  width: 100%;
  margin-top: 0;
  background-color: #ffffff;
  padding: 20px 0;
  border-bottom: solid 2px rgb(175, 175, 175);
}

.logo-insta {
  width: 60px;
  height: 60px;
  border-right: solid;
  margin-left: 17%;
  padding-right: 15px;
  background-color: #ffffff;
}

.logo-letra {
  width: 160px;
  height: 60px;
  background-color: #ffffff;
}

.lupa-logo {
  width: 30px;
  height: 30px;
  position: relative;
  bottom: 15px;
  left: 500px;
  background-color: #ffffff;
}

#busqueda {
  border-radius: 4px;
  border: 1px #e6e6e6 solid;
  position: relative;
  bottom: 25px;
  left: 650px;
  background-color: #ffffff;
}

.container-principal {
  width: 900px;
  margin: 50px auto;
  right: 500px;
  top: 150px;
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  border-radius: 3px;
}

.imagen {
  width: 70%;
}

.imagen img {
  width: 100%;
  height: auto;
  display: block;
}
.texto{
    width: 50%;
    height: 743px;
    box-sizing: border-box;
    overflow: auto;
    vertical-align: top;
   
}
.texto1 {
    
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  vertical-align: top;
  border-bottom: 1px solid rgb(177, 177, 177);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  
}
.img1{
    width: 60px;
    height: 60px;
    border-radius: 100px;
    border:#b328c5 solid;
}
.img2{
    width: 18px;
    height: 18px;
    position: relative;
    top: 17px;
    left: 5px;
}
.nombre{
    margin-top: 18px;
    margin-left: 10px;
    font-weight: bold;
}
.punto{
    width: 6px;
    height: 6px;
    position: relative;
    top: 23px;
    left: 8px;

}
.sitio{
    font-size: small;
    position: relative;
    top: 25px;
    right: 152px;
}
.texto2{
    width: 375px;
    height: 450px;
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(177, 177, 177);
    display: flex;
}
.foto-perfil{
    width: 60px;
    height: 60px;
    border-radius: 100px;
    border:#b328c5 solid;
}
.texto-comentarios{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    bottom: 10px;
    left: 10px;
}
.tiempo{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: #cccccc;
    top: 35px;
    right: 158px;
    width: 100%;

}
.imagen-debajo {
  display: block;
  margin-top: 10px; 
  width: 40px; 
  height: auto;
  position: relative; 
  top: 80px;
  left: 70px;
}
.texto3{
  width: 375px;
  height: 120px;
  border-bottom: 1px solid rgb(177, 177, 177);
  padding: 20px;
  box-sizing: border-box;
}
.f1{
  height: 27px;
  width: 27px;
}
.f2{
  height: 27px;
  width: 27px;
margin-left: 10px;
}
.f3{
  height: 27px;
  width: 27px;
  margin-left: 10px;
}
.f4{
  height: 27px;
  width: 27px;
  margin-left: 190px;
}
.texto-comentarios2{
  font-family: Arial, Helvetica, sans-serif ;
  position: relative;
}
.tiempo2{
  position: relative;
  bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #cccccc;
  font-size: small;
}
.link1{
text-decoration: none;
}
.texto-comentarios3{
  font-family: Arial, Helvetica, sans-serif;
  color: #cccccc;
}

